@font-face {
    font-family: Kanit;
    src: url(./font/Kanit-SemiBold.ttf);
  } 
  
  @font-face {
    font-family: lightKanit;
    src: url(./font/Kanit-Light.ttf);
  } 
  
.sqare{
    height: 450px;
    width: 900px;
    background-color: white;
    position: absolute;
    margin-top: 105px;
    margin-left: 330px;
    border-radius: 25px;
  }

 .Title{
    margin-top: 40px;
    margin-left: 50px;
 }

 .info{
    margin-left: 50px;
 }