@font-face {
    font-family: Kanit;
    src: url(./font/Kanit-SemiBold.ttf);
} 

.App {
    height: 100vh;
    background-color: #F3F2FD;
    font-family: Kanit;
}

.MuiInputBase-input  {
    background: white;
  }
  
.MuiTextField-root {
    background: white;
  }

